*
# hidden files
!.gitignore

# files
!next-env.d.ts
!package.json
!postcss.config.js
!README.md
!tsconfig.json

# directories
!components/**/*
!components/**/*
!interfaces/**/*
!pages/**/*
!styles/**/*
!utils/**/*